extends layout

block content
  h1= 'Welcome to the server for UniLife App'
  //- a(href='https://docs.google.com/document/d/1bviIKQJTSPFOM7_ggnFab6zWlR1iUIi4FyC1s09Lv18/edit#' target="_blank") Click here for all the routes
  ul
    li
      a(href='/cities') Cities
    li
      a(href='/properties') Properties
